*{
    padding: 0;
    margin: 0;
}

/*FONTS*/
@font-face {
    font-family: 'Italic-Lato';
    src: url(resources/Fonts/Lato/Lato-LightItalic.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(resources/Fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Rufina';
    src: url(resources/Fonts/Lato/Rufina/Rufina-Bold.ttf);
}


body{
    font-family: 'Lato';
    background-color: whitesmoke;
}


/*BODY*/
.hero{
    height: 65vh;
    padding: 5% 0 0 7.5%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
}
.backgroundClip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
}    

.home{
    display: flex;
    justify-content: space-between;
}

.hero h1{
    color: white;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 2%;
}

.report{
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.reportBtn i{
    color: rgb(61, 219, 61);
}
.alternate i{
    color: white;
    font-size: 20px
}
.reportBtn{
    text-decoration: none;
    color: white;
    box-shadow: 0 0 5px 0 rgb(219, 219, 219);
    padding: 3% 4%;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.reportBtn:hover{
    background-color: rgb(245, 245, 18);
    color: rgba(21, 63, 153, 0.952);
    transform: scale(1.1);
    transition: 0.2s;
}
.alternate i:hover{
    transform: scale(1.3);
    color: rgb(245, 245, 18);
}

.statistics{
    height: 55%;
    width: 85%;
    position: absolute;
    top: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.statistics div{
    box-shadow: 0 0 5px 0 grey;
    width: 30%;
    height: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.revenue{
    background-color: rgba(24, 53, 117, 0.95);
}
.revenue:hover{
    background-color: rgba(24, 53, 117, 1);
    transform: scale(1.03);
    transition: 0.2s;
}
.revenue p{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.revenue span p{
    font-size: 50px;
    font-weight: 500;
}

.embsigns{
    background-color: rgba(255, 253, 253, 0.95);
}
.embsigns:hover{
    background-color: rgba(255, 253, 253, 1);
    transform: scale(1.03);
    transition: 0.2s;
}
.embsigns p{
    color: black;
    font-size: 25px;
    font-weight: 500;
}
.embsigns span p{
    font-size: 50px;
    font-weight: 500;
}

.green{
    color: rgba(20, 75, 20, 0.9);
}

.reach{
    background-color: rgba(20, 75, 20, 0.95);
}
.reach:hover{
    background-color: rgba(20, 75, 20, 1);
    transform: scale(1.03);
    transition: 0.2s;
}
.reach p{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.reach span p{
    font-size: 50px;
    font-weight: 500;
}


/*SECTION 2*/
.padding{
    padding: 0 7.5%;
}


.text{
    margin-top: 30vh;
    border-radius: 5px;
    height: 25vh;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(24, 53, 117, 0.9);
}
.text i{
    color: rgb(209, 209, 209);
    font-size: 80px;
    margin: 20px;
}
.text p{
    font-size: 30px;
    font-family: 'Italic-Lato';
    font-weight: bold;
}


/*  SECTION 3 */
.section3{
    height: 125vh;
    margin-top: 50px;
    margin-bottom: 20px;
}
.section3 h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
}


.gridItems{
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Rufina';
}


.reportGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 47.5%;
    height: 47.5%;
}
.reportGrid div{
    width: 40%;
    height: 48.5%;
    box-shadow: 0 0 10px 0 grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3.5%;
    margin-bottom: 2%;
}
.reportGrid div:hover{
    transform: scale(0.9);
    transition: 0.4s;
    box-shadow: 0 0 5px 0 grey;
}
.reportGrid div i{
    font-size: 70px;
    color: rgba(21, 63, 153, 0.952);
    margin-right: 10px;
}
.reportGrid p{
    font-size: 20px;
    font-weight: 500;
}
.initiatives{
    border-right: 1px solid rgba(21, 63, 153, 0.952);
}
.overviewF{
    border-bottom: 1px solid rgba(21, 63, 153, 0.952);
}
.shares{
    border: 1px solid rgba(21, 63, 153, 0.952);
    border-top: none;
    border-left: none;
}



.highlight{
    box-shadow: 0 0 10px 0 grey;
    border: 1px solid rgba(21, 63, 153, 0.952);
    border-left: none;
    border-top: none;
    border-radius: 10px;
    width: 47.5%;
    height: 47.5%;
    margin-left: 2%;
}
.highlight:hover{
    transform: scale(0.94);
    transition: 0.4s;
    box-shadow: 0 0 5px 0 grey;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    background-color: grey;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.video:hover{
    cursor: pointer;
    background-color: brown;
    transition: 0.3s;
}
.video i{
    font-size: 100px;
    color: white;
}

.highlightsText{
    height: 30%;
    width: 100%;
    padding: 4%;
}
.highlightsText h3{
    font-size: 18px;
}

.graph{
    width: 47.5%;
    height: 45%;
    border: 1px solid green;
    border: 1px solid rgba(21, 63, 153, 0.952);
    border-left: none;
    border-top: none;
    box-shadow: 0 0 10px 0 grey;
    border-radius: 10px;
}
.graph:hover{
    transform: scale(0.94);
    transition: 0.4s;
    box-shadow: 0 0 5px 0 grey;
}
.graph img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.africa{
    width: 47.5%;
    height: 45%;
    border: 1px solid rgba(21, 63, 153, 0.952);
    border-left: none;
    border-top: none;
    box-shadow: 0 0 10px 0 grey;
    background-color: black;
    border-radius: 10px;
}
.africa:hover{
    transform: scale(0.94);
    transition: 0.4s;
    box-shadow: 0 0 5px 0 grey;
}
.africa img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/*DOWNLOAD BUTTON*/
/*DOWNLOAD BUTTON
.download{
    height: 10vh;
    margin-bottom: 5%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download a{
    text-decoration: none;
    color: rgba(24, 53, 117, 0.897);
    background-color: white;
    padding: 1.5% 5% 1.5% 5%;
    border: 1px solid rgba(24, 53, 117, 0.438);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
}
.download a:hover{
    background-color: rgb(245, 245, 18);
    color: rgba(21, 63, 153, 0.952);
    transition: 0.3s;
    transform: scale(0.9);
}*/



/*OVERVIEW*/
/*NAVBAR
.blueTop{
    width: 100%;
    height: 7vh;
    background-color: rgba(24, 53, 117, 0.897);
}*/


/*PADDING*/
.body{
    padding: 0 7.5% 0 7.5%;
    margin-top: 15%;
}


/*PAGE OVERVIEW*/
.pageOverview{
    width: 100%;
    height: 70vh;
}

.overview{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}
.overview h2{
    color: black;
    font-size: 40px;
    margin-bottom: 2.5%;
    text-align: center;
    font-weight: bolder;
}
.overview p{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.sectionii{
    width: 100%;
    height: 65%;
    display: flex;
}

.introduction{
    height: 90%;
    width: 65%;
    margin-right: 5%;
    padding: 2% 1% 0 4%;
    border-left: none;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid rgba(24, 53, 117, 0.897);
    border-left: none;
}
.introduction:hover{
    transition: 0.2s;
    box-shadow: 0 0 5px 0 rgb(39, 39, 39);
}
.introduction h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.introduction p{
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
}


.highlights{
    height: 100%;
    width: 30%;
    background-color: rgba(24, 53, 117, 0.897);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}
.highlights:hover{
    transition: 0.2s;
    box-shadow: 0px 0px 10px 0 rgb(39, 39, 39);
}

.highlights i{
    font-size: 90px;
    margin-bottom: 10%;
}

.highlights p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10%;
}

.highlights a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 2% 10% 2% 10%;
    border-radius: 5px;
    font-weight: 500;
}
.highlights a:hover{
    color: rgba(24, 53, 117, 0.897);
    background-color: white;
    transition: 0.2s;
}


/*DEDICATION*/
.dedication{
    height: 20vh;
    margin: 10% 0 5% 0;
    display: flex;
}
.quote{
    width: 8.5%;
    display: flex;
    align-items: center;
}
.dedication i{
    font-size: 80px;
    color: rgba(20, 75, 20, 0.897);
}

.quoteText{
    width: 91.5%;
    display: flex;
    align-items: center;
}
.dedication p{
    font-size: 23px;
}



/*ESG*/
.ESG{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.environment {
    border: 1px solid rgba(20, 75, 20, 0.897);
    border-radius: 5px;
    height: 85%;
    width: 25%;
    margin-right: 5%;
    background: linear-gradient(to top, rgba(20, 75, 20, 0.897) 50%, white 50%);
    background-size: 100% 200%;
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1%;
    box-shadow: 0 0 15px 0 gray;
}
.environment i{
    font-size: 50px;
    color: rgba(20, 75, 20, 0.897);
    background-color: white;
    box-shadow: 0 0 5px 0 white;
    border-radius: 100%;
    padding: 2% 5% 2% 5%;
    margin-bottom: 15%;
}
.environment p{
    font-weight: 500;
    text-align: center;
    margin-top: 8%;
}
.environment:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgba(20, 75, 20, 0.897);
}

.social {
    border: 1px solid rgba(24, 53, 117, 0.897);
    border-radius: 5px;
    height: 85%;
    width: 25%;
    margin-right: 5%;
    background: linear-gradient(to top, rgba(24, 53, 117, 0.897) 50%, white 50%);
    background-size: 100% 200%;
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1%;
    box-shadow: 0 0 15px 0 gray;
}
.social i{
    font-size: 50px;
    color: rgba(24, 53, 117, 0.897);
    background-color: white;
    box-shadow: 0 0 5px 0 white;
    border-radius: 100%;
    padding: 2% 5% 2% 5%;
    margin-bottom: 15%;
}
.social p{
    font-weight: 500;
    text-align: center;
    margin-top: 8%;
}
.social:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgba(24, 53, 117, 0.897);
}

.governance {
    border: 1px solid rgb(255, 255, 2);
    border-radius: 5px;
    height: 85%;
    width: 25%;
    background: linear-gradient(to top, rgb(235, 235, 33) 50%, white 50%);
    background-size: 100% 200%;
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1%;
    box-shadow: 0 0 15px 0 gray;
}
.governance i{
    font-size: 50px;
    color: rgb(235, 235, 33);
    background-color: white;
    box-shadow: 0 0 15px 0 white;
    border-radius: 100%;
    padding: 2% 5% 2% 5%;
    margin-bottom: 15%;
}
.governance p{
    font-weight: 500;
    text-align: center;
    margin-top: 8%;
}
.governance:hover{
    background-position: left bottom;
    color: black;
    border: none;
    box-shadow: 0 0 20px rgb(216, 216, 74);
}


/*DOWNLOAD BUTTON*/
.download{
    height: 10vh;
    margin-bottom: 5%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download a{
    text-decoration: none;
    color: rgba(24, 53, 117, 0.897);
    background-color: white;
    padding: 1.5% 5% 1.5% 5%;
    border: 1px solid rgba(24, 53, 117, 0.438);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
}
.download a:hover{
    background-color: rgb(245, 245, 18);
    color: rgba(21, 63, 153, 0.952);
    transition: 0.3s;
    transform: scale(0.9);
}

