*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Lato';
}

/*FONTS*/

@font-face {
    font-family: 'Light-Lato';
    src: url(../resources/Fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(../resources/Fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Rufina';
    src: url(../resources/Fonts/Lato/Rufina/Rufina-Bold.ttf);
}


.container{
    background-color: rgba(0, 0, 0, 0.4);
    height: 95vh;
    padding-top: 2%;
}
.backgroundClip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
}

.navIcons i:hover{
    transform: scale(1.2);
    color: aqua;
}
.redIcon i:hover{
    color: red;
}
.purpleIcon i:hover{
    color: rgb(180, 29, 135);
}


/*SIDEBAR*/
.sideBar{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 2%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
}
.sideBar:hover{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.sideLogo{
    height: 10%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.sideLogo i{
    color: red;
    font-size: 25px;
}
.sideLogo i:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.sideBar:hover .sideLogo{
    display: flex;
}

.chapters{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sideBar:hover .chapters{
    color: white;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.chapters p{
    display: none;
}
.chapters span{
    display: none;
}
.sideBar:hover .chapters a{
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(9, 47, 90);
    font-size: 17px;
    padding: 5% 2%;
    display: flex;
    align-items: center;
    width: 95%;
}
.sideBar:hover .chapters p{
    display: flex;
    flex-direction: column;
}
.chapters i{
    margin-right: 5%;
    color: rgb(9, 47, 90);
    font-size: 20px;
}
.sideBar:hover .chapters a:hover{
    background-color: rgb(9, 47, 90);
    color: white;
    transition: 0.2s;
}
.sideBar:hover .chapters i{
    color: goldenrod;
}



.navBar{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 11.5vh;
    justify-self: center;
    box-shadow: 0px 10px 60px 0px rgb(253, 253, 253);
}
.navBar:hover{
    transform: scale(1.03);
    transition: 0.4s;
}

.logo{
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
}
.logo img{
    width: 25%;
    position: relative;
    left: 21.5%;
}


.navIcons{
    background-color: white;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 5px 5px 0;
}
.navIcons i{
    font-size: large;
    color: rgb(20, 115, 145);
}


/*HERO PAGE!!!*/
.heroPage{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro{
    margin: 40px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.motion{
    font-size: 35px;
    color: white;
    margin-bottom: 10px;
    font-weight: bolder;
}
.subTopic{
    font-size: 35px;
    color: white;
    margin-bottom: 60px;
    font-weight: bolder;
}

.heroPage a{
    color: rgb(169, 216, 255);
    text-decoration: none;
    padding: 1.5% 2%;
    border: 1px solid rgb(169, 216, 255);
    font-weight: bold;
    border-radius: 2px;
}
.heroPage a:hover{
    color: rgb(20, 115, 145);
    background-color: white;
    border: none;
    transition: 0.2s;
    box-shadow: 0 0 5px 0px white;
}






/* MEDIA QUERY!!! */
/*MOBILE PHONE SCREENS*/
@media all and (350px <= width <= 450px){
    .container{
    background-color: rgba(0, 0, 0, 0.1);
    height: 95vh;
    padding-top: 2%;
}
.backgroundClip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
}

.navIcons i:hover{
    transform: scale(1.2);
    color: aqua;
}
.redIcon i:hover{
    color: red;
}
.purpleIcon i:hover{
    color: rgb(180, 29, 135);
}


/*SIDEBAR*/
.sideBar{
    display: none;
}
.sideBar:hover{
    display: none;
}

.sideLogo{
    height: 10%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.sideLogo i{
    color: red;
    font-size: 25px;
}
.sideLogo i:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.sideBar:hover .sideLogo{
    display: flex;
}

.chapters{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sideBar:hover .chapters{
    color: white;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.chapters p{
    display: none;
}
.chapters span{
    display: none;
}
.sideBar:hover .chapters a{
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(9, 47, 90);
    font-size: 17px;
    padding: 5% 2%;
    display: flex;
    align-items: center;
    width: 95%;
}
.sideBar:hover .chapters p{
    display: flex;
    flex-direction: column;
}
.chapters i{
    margin-right: 5%;
    color: rgb(9, 47, 90);
    font-size: 20px;
}
.sideBar:hover .chapters a:hover{
    background-color: rgb(9, 47, 90);
    color: white;
    transition: 0.2s;
}
.sideBar:hover .chapters i{
    color: goldenrod;
}



.navBar{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 11.5vh;
    justify-self: center;
    box-shadow: 0px 10px 60px 0px rgb(253, 253, 253);
    background-color: white;
}
.navBar:hover{
    transform: scale(1.03);
    transition: 0.4s;
}

.logo{
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px 0 0 5px;
}
.logo img{
    width: 30%;
    position: relative;
    left: 0;
}


.navIcons{
    background-color: white;
    width: 30%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 5px 5px 0;
}
.navIcons i{
    font-size: large;
    color: rgb(20, 115, 145);
}


/*HERO PAGE!!!*/
.heroPage{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.intro{
    margin: 15% 5%;
    font-size: 150%;
    font-weight: bold;
    color: white;
}
.motion{
    font-size: 175%;
    color: white;
    margin-bottom: 10px;
    font-weight: bolder;
}
.subTopic{
    font-size: 175%;
    color: white;
    margin-bottom: 10%;
    font-weight: bolder;
}

.heroPage a{
    color: rgb(169, 216, 255);
    text-decoration: none;
    padding: 1.5% 2%;
    border: 1px solid rgb(169, 216, 255);
    font-weight: bold;
    border-radius: 2px;
}
.heroPage a:hover{
    color: rgb(20, 115, 145);
    background-color: white;
    border: none;
    transition: 0.2s;
    box-shadow: 0 0 5px 0px white;
}




}