*{
    border: 0;
    padding: 0;
    margin: 0;
}

/*FONTS*/

@font-face {
    font-family: 'Light-Lato';
    src: url(../resources/Fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(../resources/Fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Rufina';
    src: url(../resources/Fonts/Lato/Rufina/Rufina-Bold.ttf);
}

.body{
    font-family: 'Light-Lato';
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../resources/CEO_Statement/office.jpeg);
    background-size: cover;
    height: 100vh;
    padding-top: 2%;
}





/*NAVIGATION*/
.navBar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 11.5vh;
    justify-self: center;
    box-shadow: 0 0 10px 0px grey;
    border-radius: 5px;
    position: sticky;
    top: 0;
}
.navBar:hover{
    transform: scale(1.03);
    transition: 0.4s;
}

.logo{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px 0 0 5px;
}
.logo a img{
    width: 50%;
    position: relative;
    left: 21.5%;
}


.navIcons{
    background-color: white;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 5px 5px 0;
}
.icons{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons i{
    font-size: large;
    color: rgb(20, 115, 145);
}
.icons i:hover{
    transform: scale(1.2);
    color: aqua;
}
.redIcon i:hover{
    color: red;
}
.purpleIcon i:hover{
    color: rgb(180, 29, 135);
}


/*SIDEBAR*/
.sideBar{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 2%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
}
.sideBar:hover{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.sideLogo{
    height: 10%;
    width: 100%;
    display: none;
    justify-content: flex-end;
    align-items: center;
}
.sideBar:hover .sideLogo{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sideBar:hover .sideLogo img{
    width: 50%;
    height: 85%;
}

.sideLogo i{
    color: red;
    font-size: 25px;
}
.sideLogo i:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.sideBar:hover .sideLogo{
    display: flex;
}

.chapters{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sideBar:hover .chapters{
    color: white;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.chapters p{
    display: none;
}
.chapters span{
    display: none;
}
.sideBar:hover .chapters a{
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(9, 47, 90);
    font-size: 17px;
    padding: 5% 2%;
    display: flex;
    align-items: center;
    width: 95%;
}
.sideBar:hover .chapters p{
    display: flex;
    flex-direction: column;
}
.chapters i{
    margin-right: 5%;
    color: rgb(9, 47, 90);
    font-size: 20px;
}
.sideBar:hover .chapters a:hover{
    background-color: rgb(9, 47, 90);
    color: white;
    transition: 0.2s;
}
.sideBar:hover .chapters i{
    color: goldenrod;
}



/*HEADING*/
.heading{
    background-color: rgba(18, 86, 163, 0.4);
    height: 65vh;
    margin: 3% 5%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.heading h2{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    font-family: 'Lato';
    color: white;
}


/*CEO STATEMENT*/
.section{
    width: 100%;
    height: 115vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ceoProfile{
    width: 80%;
    height: 20vh;
    position: relative;
    top: 5%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
.image{
    width: 12%;
    height: 100%;
    margin: 0 3%;
    display: flex;
    align-items: center;
}
.image img{
    width: 100%;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 gray;
}

.profile{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.profile .name{
    font-family: 'Lato';
    font-size: 16px;
    margin-bottom: 0;
    line-height: 150%;
    color: rgb(9, 47, 90);
}
.fullname{
    font-family: 'Lato';
    font-size: 19px;
    margin-bottom: 0;
    line-height: 150%;
}




.statement{
    height: 60vh;
    width: 65%;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}
.verticalLine{
    background-color: lightblue;
    width: 4px;
    height: 300vh;
    border-radius: 4px;
}

.ceoStatement{
    width: 95%;
    height: 80vh;
    margin-left: 2.5%;
}
.ceoStatement p{
    font-weight: 600;
    line-height: 200%;
    margin-bottom: 5%;
    font-family: 'Light-Lato';
}
.ceoStatement ul li{
    font-weight: 600;
    line-height: 200%;
    margin-bottom: 2%;
    margin-left: 5%;
    font-family: 'Light-Lato';
}
.subHead{
    color: rgb(51, 49, 153);
    font-size: 19px;
    font-family: 'Lato';
    line-height: 250%;
}




/*PAGE CONTROL*/
.pageControl{
    width: 100%;
}
.bottom{
    height: 20vh;
    width: 100%;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous a{
    text-decoration: none;
    color: gray;
    padding: 4% 12%;
    border: 2px solid gray;
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.previous a:hover{
    cursor: default;
}

.verticalLine2{
    background-color: goldenrod;
    width: 3px;
    height: 50%;
    margin: 0 2%;
    border-radius: 2px;
}

.download{
    width: 30%;
    height: 35%;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download a{
    text-decoration: none;
    color: white;
    background-color: rgb(20, 115, 145);
    padding: 5% 12%;
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.download a:hover{
    color: rgb(20, 115, 145);
    background-color: white;
    border: 2px solid rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}

.next{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next a{
    text-decoration: none;
    color: rgb(20, 115, 145);
    padding: 4% 12%;
    border: 2px solid rgb(20, 115, 145);
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.next a:hover{
    color: white;
    background-color: rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}




/* MEDIA QUERY!!! */
/*LAPTOP SCREENS*/
@media all and (1000px <= width <= 1300px){

.icons{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



/*SIDEBAR*/
.sideBar:hover{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.sideBar:hover .chapters a{
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(9, 47, 90);
    font-size: 15px;
    padding: 5% 2%;
    display: flex;
    align-items: center;
    width: 95%;
}

.chapters i{
    margin-right: 5%;
    color: rgb(9, 47, 90);
    font-size: 20px;
}

.sideBar:hover .chapters i{
    color: goldenrod;
    font-size: 15px;
}



/*HEADING*/

.heading h2{
    font-weight: bolder;
    font-size: 43px;
    text-align: center;
    font-family: 'Lato';
    color: white;
}


}





/* MEDIA QUERY!!! */
/*MOBILE PHONE SCREENS*/
@media all and (width <= 450px){

.body{
    font-family: 'Light-Lato';
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../resources/CEO_Statement/office.jpeg);
    background-size: cover;
    height: 100vh;
    padding-top: 2%;
}





/*NAVIGATION*/
.navBar{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    transition: 0.4s;
    background-color: white;
}
.navBar:hover{
    transform: scale(1.03);
    transition: 0.4s;
}

.logo{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px 0 0 5px;
}
.logo a img{
    width: 50%;
    position: relative;
    left: 21.5%;
}


.navIcons{
    display: none;
}

/*SIDEBAR*/
.sideBar{
    display: none;
}
.sideBar:hover{
    display: none;
}


/*HEADING*/
.heading{
    background-color: rgba(18, 86, 163, 0.4);
    height: 50vh;
    position: relative;
    top: 15%;
    margin: 3% 5%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.heading h2{
    font-weight: bolder;
    font-size: 170%;
    text-align: center;
    font-family: 'Lato';
    color: white;
}


/*CEO STATEMENT*/
.section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ceoProfile{
    width: 90%;
    height: 20vh;
    position: relative;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}
.image{
    width: 17%;
    height: 100%;
    margin: 0 3%;
    display: flex;
    align-items: center;
}
.image img{
    width: 100%;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 gray;
}

.profile{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile .name{
    font-family: 'Lato';
    font-size: 16px;
    margin-bottom: 0;
    line-height: 150%;
    color: rgb(9, 47, 90);
}
.fullname{
    font-family: 'Lato';
    font-size: 19px;
    margin-bottom: 0;
    line-height: 150%;
}




.statement{
    height: auto;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    overflow: visible;
}
.verticalLine{
    background-color: lightblue;
    width: 4px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 rgb(20, 115, 145);
    display: none;
}

.ceoStatement{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
}
.ceoStatement p{
    font-weight: 600;
    line-height: 200%;
    margin-bottom: 5%;
    font-family: 'Light-Lato';
}
.subHead{
    color: rgb(51, 49, 153);
    font-size: 19px;
    font-family: 'Lato';
    line-height: 250%;
}




/*PAGE CONTROL*/
.pageControl{
    width: 100%;
    padding: 7.5% 0;
}
.bottom{
    height: auto;
    width: 100%;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous a{
    padding: 10% 12%;
    font-size: 60%;
}

.verticalLine2{
    background-color: goldenrod;
    width: 3px;
    height: 50%;
    margin: 0 2%;
    border-radius: 2px;
}

.download{
    width: 30%;
    height: 35%;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download a{
    padding: 10% 12%;
    font-size: 60%;
}

.next{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next a{
    padding: 10% 12%;
    font-size: 60%;
}




}