*{
    border: 0;
    padding: 0;
    margin: 0;
}

/*FONTS*/

@font-face {
    font-family: 'Light-Lato';
    src: url(../resources/Fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(../resources/Fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Rufina';
    src: url(../resources/Fonts/Lato/Rufina/Rufina-Bold.ttf);
}

.body{
    font-family: 'Light-Lato';
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../resources/Performance/environmental_stewardship.jpeg);
    background-size: cover;
    height: 100vh;
    padding-top: 2%;
}





/*NAVIGATION*/
.navBar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 11.5vh;
    justify-self: center;
    box-shadow: 0 0 10px 0px grey;
    border-radius: 5px;
}
.navBar:hover{
    transform: scale(1.03);
    transition: 0.4s;
}

.logo{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px 0 0 5px;
}
.logo a img{
    width: 50%;
    position: relative;
    left: 21.5%;
}


.navIcons{
    background-color: white;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 5px 5px 0;
}
.icons{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons i{
    font-size: large;
    color: rgb(20, 115, 145);
}
.icons i:hover{
    transform: scale(1.2);
    color: aqua;
}
.redIcon i:hover{
    color: red;
}
.purpleIcon i:hover{
    color: rgb(180, 29, 135);
}


/*SIDEBAR*/
.sideBar{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 2%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
}
.sideBar:hover{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.sideLogo{
    height: 10%;
    width: 100%;
    display: none;
    justify-content: flex-end;
    align-items: center;
}
.sideBar:hover .sideLogo{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sideBar:hover .sideLogo img{
    width: 50%;
    height: 85%;
}

.sideLogo i{
    color: red;
    font-size: 25px;
}
.sideLogo i:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.sideBar:hover .sideLogo{
    display: flex;
}

.chapters{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sideBar:hover .chapters{
    color: white;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.chapters p{
    display: none;
}
.chapters span{
    display: none;
}
.sideBar:hover .chapters a{
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(9, 47, 90);
    font-size: 17px;
    padding: 5% 2%;
    display: flex;
    align-items: center;
    width: 95%;
}
.sideBar:hover .chapters p{
    display: flex;
    flex-direction: column;
}
.chapters i{
    margin-right: 5%;
    color: rgb(9, 47, 90);
    font-size: 20px;
}
.sideBar:hover .chapters a:hover{
    background-color: rgb(9, 47, 90);
    color: white;
    transition: 0.2s;
}
.sideBar:hover .chapters i{
    color: goldenrod;
}



/*FORM*/
.formContainer{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 85%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0 0 15px 0 gray;
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(5px);
}
.form h4{
    color: goldenrod;
    font-family: 'Lato';
}

form{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box{
    height: 15%;
    width: 100%;
    margin: 2%;
}
.input-box label{
    color: goldenrod;
    font-family: 'Lato';
    font-size: 80%;
}
.input-box input{
    width: 90%;
    height: 70%;
    padding-left: 5%;
    background: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    transition: .3s ease;
}
.input-box input::placeholder{
    color: rgba(255, 255, 255, 0.452);
    font-size: 120%;
}
.input-box input:focus{
    transform: scale(1.03);
    transition: 0.3s ease;
}

.message-box{
    width: 100%;
    height: 30%;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-box textarea{
    width: 100%;
    height: 100%;
    padding: 2%;
    outline: none;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.568);
    color: rgb(9, 47, 90);
    font-family: 'Light-Lato';
    font-weight: 600;
    transition: 0.3s;
}
.message-box textarea::placeholder{
    color: goldenrod;
}
.message-box textarea:focus{
    transform: scale(1.03);
}

.submit-box{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.submit-box input{
    width: 70%;
    height: 70%;
    border-radius: 3px;
    background-color: rgb(9, 47, 90);
    box-shadow: 0 0 5px 0 rgb(9, 47, 90);
    color: white;
    transition: 0.3s;
}
.submit-box input:hover{
    transform: scale(0.95);
    background-color: rgb(20, 115, 145);
    box-shadow:  0 0 5px 0 rgb(20, 115, 145);
    cursor: pointer;
    transition: 0.3s;
}



/*PAGE CONTROL*/
.pageControl{
    width: 100%;
}
.bottom{
    height: 20vh;
    width: 100%;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous a{
    text-decoration: none;
    color: rgb(20, 115, 145);
    padding: 4% 12%;
    border: 2px solid rgb(20, 115, 145);
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.previous a:hover{
    color: white;
    background-color: rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}

.verticalLine2{
    background-color: goldenrod;
    width: 3px;
    height: 50%;
    margin: 0 2%;
    border-radius: 2px;
}

.download{
    width: 30%;
    height: 35%;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download a{
    text-decoration: none;
    color: white;
    background-color: rgb(20, 115, 145);
    padding: 5% 12%;
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.download a:hover{
    color: rgb(20, 115, 145);
    background-color: white;
    border: 2px solid rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}

.next{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next a{
    text-decoration: none;
    color: gray;
    padding: 4% 12%;
    border: 2px solid gray;
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.next a:hover{
    cursor: default;
}



/* MEDIA QUERY!!! */
@media all and (1000px <= width <= 1300px){

.icons{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



/*SIDEBAR*/
.sideBar:hover{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.sideBar:hover .chapters a{
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(9, 47, 90);
    font-size: 15px;
    padding: 5% 2%;
    display: flex;
    align-items: center;
    width: 95%;
}

.chapters i{
    margin-right: 5%;
    color: rgb(9, 47, 90);
    font-size: 20px;
}

.sideBar:hover .chapters i{
    color: goldenrod;
    font-size: 15px;
}

.sideBar:hover .sideLogo{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sideBar:hover .sideLogo img{
    width: 55%;
    height: 65%;
}


}