*{
    border: 0;
    padding: 0;
    margin: 0;
}

/*FONTS*/

@font-face {
    font-family: 'Light-Lato';
    src: url(../resources/Fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(../resources/Fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Rufina';
    src: url(../resources/Fonts/Lato/Rufina/Rufina-Bold.ttf);
}
body{
    font-family: 'Lato';
}
.body{
    font-family: 'Light-Lato';
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../resources/Governance/Governance.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 2%;
}





/*NAVIGATION*/
.navBar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 11.5vh;
    justify-self: center;
    box-shadow: 0 0 10px 0px grey;
    border-radius: 5px;
    position: sticky;
    top: 0;
}
.navBar:hover{
    transform: scale(1.03);
    transition: 0.4s;
}

.logo{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px 0 0 5px;
}
.logo a img{
    width: 50%;
    position: relative;
    left: 21.5%;
}


.navIcons{
    background-color: white;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 5px 5px 0;
}
.icons{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons i{
    font-size: large;
    color: rgb(20, 115, 145);
}
.icons i:hover{
    transform: scale(1.2);
    color: aqua;
}
.redIcon i:hover{
    color: red;
}
.purpleIcon i:hover{
    color: rgb(180, 29, 135);
}


/*SIDEBAR*/
.sideBar{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 2%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
}
.sideBar:hover{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.sideLogo{
    height: 10%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.sideBar:hover .sideLogo{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sideBar:hover .sideLogo img{
    width: 50%;
    height: 85%;
}

.sideLogo i{
    color: red;
    font-size: 25px;
}
.sideLogo i:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.sideBar:hover .sideLogo{
    display: flex;
}

.chapters{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sideBar:hover .chapters{
    color: white;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.chapters p{
    display: none;
}
.chapters span{
    display: none;
}
.sideBar:hover .chapters a{
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(9, 47, 90);
    font-size: 17px;
    padding: 5% 2%;
    display: flex;
    align-items: center;
    width: 95%;
}
.sideBar:hover .chapters p{
    display: flex;
    flex-direction: column;
}
.chapters i{
    margin-right: 5%;
    color: rgb(9, 47, 90);
    font-size: 20px;
}
.sideBar:hover .chapters a:hover{
    background-color: rgb(9, 47, 90);
    color: white;
    transition: 0.2s;
}
.sideBar:hover .chapters i{
    color: goldenrod;
}



/*HEADING*/
.heading{
    background-color: rgba(250, 222, 66, 0.486);
    height: 65vh;
    margin: 3% 5%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.heading h2{
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    font-family: 'Lato';
    color: rgb(9, 47, 90);
    line-height: 150%;
}


/*GOVERNANCE*/
/*@keyframes intro{
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}*/

.governance{
    height: 85vh;
    width: auto;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.governance hr{
    background-color: rgb(20, 115, 145);
    height: 2px;
    width: 15%;
    margin-bottom: 2%;
    display: flex;
    justify-self: flex-start;
    box-shadow: 0 0 3px 0 rgb(9, 47, 90);
}
.governance p{
    font-family: 'Light-Lato';
    line-height: 175%;
    color: rgb(9, 47, 90);
    margin-bottom: 2%;
}
.governance a{
    color: rgb(20, 115, 145);
}
.governance a:hover{
    color: brown;
}

.principles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    width: 100%;
}
.principlesImage{
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.principlesImage img{
    width: 95%;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px 0 gray;
}
.principlesText{
    width: 88%;
}

.boardImage{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boardImage img{
    width: 55%;
}


/*PAGE CONTROL*/
.pageControl{
    width: 100%;
}
.bottom{
    height: 20vh;
    width: 100%;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous a{
    text-decoration: none;
    color: rgb(20, 115, 145);
    padding: 4% 12%;
    border: 2px solid rgb(20, 115, 145);
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.previous a:hover{
    color: white;
    background-color: rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}

.verticalLine2{
    background-color: goldenrod;
    width: 3px;
    height: 50%;
    margin: 0 2%;
    border-radius: 2px;
}

.download{
    width: 30%;
    height: 35%;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download a{
    text-decoration: none;
    color: white;
    background-color: rgb(20, 115, 145);
    padding: 5% 12%;
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.download a:hover{
    color: rgb(20, 115, 145);
    background-color: white;
    border: 2px solid rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}

.next{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next a{
    text-decoration: none;
    color: rgb(20, 115, 145);
    padding: 4% 12%;
    border: 2px solid rgb(20, 115, 145);
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.next a:hover{
    color: white;
    background-color: rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}