*{
    border: 0;
    padding: 0;
    margin: 0;
}

/*FONTS*/

@font-face {
    font-family: 'Light-Lato';
    src: url(../resources/Fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(../resources/Fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Rufina';
    src: url(../resources/Fonts/Lato/Rufina/Rufina-Bold.ttf);
}


body{
    font-family: 'Lato';
    background-image: url(../resources/WeAreAxxela/2024\ EHSQ\ Day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}





/*NAVIGATION*/
.navBar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 11.5vh;
    margin-top: 2%;
    justify-self: center;
    box-shadow: 0 0 10px 0px grey;
    border-radius: 5px;
    position: sticky;
    top: 0;
}
.navBar:hover{
    transform: scale(1.03);
    transition: 0.4s;
}

.logo{
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px 0 0 5px;
}
.logo a img{
    width: 50%;
    position: relative;
    left: 21.5%;
}


.navIcons{
    background-color: white;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 5px 5px 0;
}
.navIcons i{
    font-size: large;
    color: rgb(20, 115, 145);
}
.navIcons i:hover{
    transform: scale(1.2);
    color: aqua;
}
.redIcon i:hover{
    color: red;
}
.purpleIcon i:hover{
    color: rgb(180, 29, 135);
}


/*SIDEBAR*/
.sideBar{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 2%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
}
.sideBar:hover{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.sideLogo{
    height: 10%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.sideBar:hover .sideLogo{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sideBar:hover .sideLogo img{
    width: 50%;
    height: 85%;
}

.sideLogo i{
    color: red;
    font-size: 25px;
}
.sideLogo i:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.sideBar:hover .sideLogo{
    display: flex;
}

.chapters{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sideBar:hover .chapters{
    color: white;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.chapters p{
    display: none;
}
.chapters span{
    display: none;
}
.sideBar:hover .chapters a{
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(9, 47, 90);
    font-size: 17px;
    padding: 5% 2%;
    display: flex;
    align-items: center;
    width: 95%;
}
.sideBar:hover .chapters p{
    display: flex;
    flex-direction: column;
}
.chapters i{
    margin-right: 5%;
    color: rgb(9, 47, 90);
    font-size: 20px;
}
.sideBar:hover .chapters a:hover{
    background-color: rgb(9, 47, 90);
    color: white;
    transition: 0.2s;
}
.sideBar:hover .chapters i{
    color: goldenrod;
}



/*HEADING*/
.heading{
    background-color: rgba(20, 115, 145, 0.7);
    height: 65vh;
    margin: 3% 5%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h2{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    font-family: 'Lato';
    color: white;
}


/*ABOUT AXXELA*/
.section2{
    height: 50vh;
    width: 100%;
    background-color: white;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}

.smallWrapper{
    height: 75%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic{
    font-size: 28px;
    margin-bottom: 5%;
}
.paragraph{
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Light-Lato';
    line-height: 160%;
}

.smallWrapper a{
    background-color: black;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    padding: 2% 8%;
}

.smallWrapper a:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: 0.3s;
}



/*SUSTAINABILITY COMMITMENTS*/
/*.section3{
    height: 170vh;
    width: 100%;
    background-color: rgba(24, 53, 117, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commitment{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 5%;
}
.commitmentH3{
    color: white;
    font-size: 23px;
    width: 30%;
    line-height: 160%;
}
.commitmentP{
    color: white;
    width: 60%;
    font-family: 'Light-Lato';
    font-size: 13px;
    line-height: 160%;
    display: flex;
    align-items: center;
}



.commitmentImg{
    width: 70%;
    height: 80vh;
    margin-bottom: 5%;
}
.commitmentImg img{
    width: 100%;
    height: 80vh;
}

/*JAVASCRIPT STYLE*/
/*#image1{
    display: flex;
    transition: 0.3s;
}
#image2{
    display: none;
    transition: 0.3s;
}
#image3{
    display: none;
    transition: 0.3s;
}


.commitmentListing{
    height: 30vh;
    width: 70%;
    color: gray;
    display: flex;
    justify-content: space-evenly;
}
.commitmentListingTab{
    width: 27.5%;
}
.commitmentListingTab .horizontalLine{
    background-color: gray;
    width: 100%;
    height: 4px;
    margin-bottom: 5%;
}
.commitmentListingTabTexts h5{
    font-size: 16px;
    margin-bottom: 5%;
}
.commitmentListingTabTexts p{
    font-size: 14px;
}
.commitmentListingTab:hover{
    cursor: pointer;
}
.commitmentListingTab:active{
    color: white;
}*/



/*OVER THE YEARS*/
.years{
    background-color: rgb(0, 49, 92);
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}
.yearsImage{
    height: 100%;
    width: 70%;
}
.yearsImage img{
    width: 100%;
    height: 100%;
}
.caption{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caption p{
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: 'Light-Lato';
}




/*PAGE CONTROL*/
.pageControl{
    width: 100%;
}
.bottom{
    height: 20vh;
    width: 100%;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous a{
    text-decoration: none;
    color: rgb(20, 115, 145);
    padding: 4% 12%;
    border: 2px solid rgb(20, 115, 145);
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.previous a:hover{
    color: white;
    background-color: rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}

.verticalLine2{
    background-color: goldenrod;
    width: 3px;
    height: 50%;
    margin: 0 2%;
    border-radius: 2px;
}

.download{
    width: 30%;
    height: 35%;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download a{
    text-decoration: none;
    color: white;
    background-color: rgb(20, 115, 145);
    padding: 5% 12%;
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.download a:hover{
    color: rgb(20, 115, 145);
    background-color: white;
    border: 2px solid rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}

.next{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next a{
    text-decoration: none;
    color: rgb(20, 115, 145);
    padding: 4% 12%;
    border: 2px solid rgb(20, 115, 145);
    box-shadow: 0 0 7px 0 gray;
    border-radius: 2px;
}
.next a:hover{
    color: white;
    background-color: rgb(20, 115, 145);
    transition: 0.15s;
    transform: scale(0.9);
    box-shadow: 0 0 3px 0 gray;
}




/* MEDIA QUERY!!! */
/*LAPTOP SCREENS*/
@media all and (1000px <= width <= 1300px){

.icons{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



/*SIDEBAR*/
.sideBar:hover{
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    top: 0;
    right: 0;
    width: 28%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 2px solid white;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.sideBar:hover .chapters a{
    font-family: 'Lato';
    text-decoration: none;
    color: rgb(9, 47, 90);
    font-size: 15px;
    padding: 5% 2%;
    display: flex;
    align-items: center;
    width: 95%;
}

.chapters i{
    margin-right: 5%;
    color: rgb(9, 47, 90);
    font-size: 20px;
}

.sideBar:hover .chapters i{
    color: goldenrod;
    font-size: 15px;
}




/*HEADING*/
.heading{
    background-color: rgba(20, 115, 145, 0.7);
    height: 60vh;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h2{
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
    font-family: 'Lato';
    color: white;
}


/*OVER THE YEARS*/
.years{
    background-color: rgb(0, 49, 92);
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}


}